<div class="card">
    <h3>Producto</h3>
    <span>
        <img src="https://static1.abc.es/media/cultura/2019/06/19/coliseo2-kPJB--620x349@abc.jpg" alt="">
    </span>
    <span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis perferendis laborum natus pariatur nulla! Non eveniet expedita possimus impedit! Rerum doloremque quo nemo illo harum ab fugit consectetur maiores animi.</p>
    </span>
    <button type="submit" 
    class="btn custom-btn"
    >Lo quiero!</button>
</div>
