<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="formulario">
    <div class="btn-group btn-group-toggle" 
    ngbRadioGroup name="radioBasic" 
    formControlName="radioButton">
        <label ngbButtonLabel class="btn custom-radio">
            <input ngbButton type="radio" value="Ida"> Solo Ida
          </label>
          <label ngbButtonLabel class="btn custom-radio">
            <input ngbButton type="radio" value="IdaVuelta"> Ida y Vuelta
          </label>
    </div>
    <div class="container">
        <label>
            Lugar de origen:
            <input type="text" formControlName="origen">
          </label>
    </div>
    <div class="container">
        <label>
            Lugar de destino:
            <input type="text" formControlName="destino">
          </label>
    </div>
    <button type="submit" 
    class="btn custom-btn" 
    [disabled]="!profileForm.valid" 
    >Success</button>
  </form>