.formulario {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
    padding-bottom: 50px;
}

.container input {
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.input1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.containerDate {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* CAMBIO DE COLOR DE BOTON */
.custom-btn, 
.custom-btn:hover,
.custom-btn:visited,
.custom-btn:focus {
    background-color: #f40552 ;
    outline-color: #f405 ;
    border: #f405;
    color: #f8f3eb
}

.custom-radio{
    background-color: #f40552;
    outline-color: #f405;
    border-color: #f405;
    color: #f8f3eb;
}
