.formulario {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    padding-bottom: 50px;
}

.container input {
    width: 100%;
    justify-content: center;
}

.input1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}