.formulario {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
    padding-bottom: 50px;
}

.container input {
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.input1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.containerDate {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/* CAMBIO DE COLOR DE BOTON */
.custom-btn, 
.custom-btn:hover,
.custom-btn:active,
.custom-btn:visited,
.custom-btn:focus {
    background-color: #f40552 !important;;
    outline-color: #f405 !important;
    border: #f405;
    color: #f8f3eb
}
.custom-btn:not(:disabled):not(.disabled).active:focus,
.custom-btn:not(:disabled):not(.disabled):active:focus,
.show>.custom-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #f405
}
.custom-radio, .custom-radio:active{
    background-color: #f40552 !important;;
    outline-color: #f405 !important;
    border-color: #f405 !important;
    color: #f8f3eb;
}
